set_io clk 21

set_io v0_out 44
set_io v1_out 45

set_io reset 47
set_io start 48

set_io done 112

set_io bits[0] 113
set_io bits[1] 114
set_io bits[2] 115
set_io bits[3] 116
set_io bits[4] 117
set_io bits[5] 118